<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.popular_blog.mapper.AdminMapper">

    <select id="test" resultType="cn.edu.guet.popular_blog.dto.LoginDTO">
        select * from t_admin
    </select>

    <select id="insertOneAdmin" statementType="CALLABLE" parameterType="string">
        {call proc_register(#{username,mode=IN},#{password,mode=IN})}
    </select>

    <select id="login" resultType="cn.edu.guet.popular_blog.pojo.Admin">
    select  * from t_admin where username=#{username} and password=#{password} and enabled=0
    </select>

</mapper>