<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.guet.popular_blog.mapper.CommentMapper">


    <insert id="saveComment" parameterType="cn.edu.guet.popular_blog.pojo.Comment">
        insert into t_comment(userid,blogid,pid,fabulous,commenttime,comment)
        values(#{userid},#{blogid},#{pid},#{fabulous},#{commenttime},#{comment})
    </insert>

    <select id="findByParentIdNull"  resultMap="commentInfo">
        select * from t_comment c,t_admin u where c.pid = -1 and c.blogid=#{blogid} and c.userid=u.id order by c.commenttime desc limit #{start},#{countPerPage};
    </select>
    <!--查询父评论下的子评论-->
    <select id="findByParentNotNull"  resultMap="commentInfo">
        select * from t_comment c,t_admin u where c.pid != -1 and c.pid=#{id} and c.blogid=#{blogid} and c.userid=u.id
     </select>

    <update id="updateFabulous" >
        update t_comment set fabulous=#{number} where id=#{id}
    </update>

    <select id="findCountById" resultType="int">
        select count(*) from t_comment c where c.pid = -1 and c.blogid=#{blogid}
    </select>

    <resultMap id="commentInfo" type="cn.edu.guet.popular_blog.pojo.Comment">
        <id property="id" column="id"/>
        <result property="blogid" column="blogid"/>
        <result property="comment" column="comment"/>
        <result property="commenttime" column="commenttime"/>
        <result property="fabulous" column="fabulous"/>
        <result property="pid" column="pid"/>
        <result property="userid" column="userid"/>
        <association property="user"  javaType="cn.edu.guet.popular_blog.pojo.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="imgPath" column="imgpath"/>
    </association>
    </resultMap>
</mapper>